.wrapper {
  width: 80%;
  margin: 8rem auto;
}

.cards {
  display: flex;
  flex-flow: column wrap;
  align-content: center;

  @include respond(tab-port) {
    flex-flow: row wrap;
    justify-content: center;
  }

  @include respond(desktop) {
    flex-flow: row wrap;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  
    @include respond(tab-land) {
      flex-flow: row wrap;
      justify-content: center;
    }
  
    @include respond(desktop) {
      flex-direction: column;
    }
  }
}


