.btn {
  border-radius: 30rem;
  padding: .8rem 1.3rem;
  font-weight: 700;

  &--bg-white {
    border: 1px solid $white;
    background-color: $white;
    color: $light-red;
    transition: all 0.2s;

    &:hover {
      background-color: $very-light-red;
      border: 1px solid $very-light-red;
      color: $white;
    }
  }

  &--bg-transperant {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    transition: all 0.2s;

    &:hover {
        border: 1px solid $white;
        background-color: $white;
        color: $light-red;
    }
  }
}
