html {
  box-sizing: border-box;
  font-size: 12px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  max-width: 320px;
  border-radius: 15px;
  text-align: center;
}

.card__image-container {
  width: 100%;
}

.card__image {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card__order-summary {
  font-size: 20px;
  font-weight: 900;
  padding: 25px 0 10px 0;
  color: #2a304f;
}

.card__text {
  color: #7d809a;
  width: 80%;
  margin: 0 auto;
}

.card__plan-info {
  background-color: #f8f9fe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;

}

.card__music-img {
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

.card__price > p:nth-child(1) {
    font-weight: 700;
}

.card__music-img img {
width: 100%;
height: 100%;
}

.chance a {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;
}

.card__price-info {
  display: flex;
  align-items: center;
}

.card__change {
  color: hsl(228, 45%, 44%);
}

.payment,
.cancel {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  display: inline-block;
  margin: 10px auto;
}

.cancel {
    margin-bottom: 20px;
}

.btn {
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  width: 80%;
  padding: 8px 16px;
  border-radius: 10px;
}

/* Mobile Design 375px */

@media all and (min-width: 375px) {
  body {
      background-color: hsl(225, 100%, 94%);
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
  }
}

/* Desktop Design 1440px */

@media all and (min-width: 1440px) {
  body {
    background-color: hsl(225, 100%, 94%);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
  }
}
