.sign-up {
  width: 90%;

  @include respond(tab-land) {
    width: 100%;
    max-width: 50rem;
    padding-left: 3rem;
  }

  @include respond(desktop) {
    max-width: 70rem;
    padding-left: 4rem;
  }
}

.offer,
.form-wrapper {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  width: 100%;
}

.offer {
  background-color: $blue;
  padding: 0.4rem 5rem;
  margin: 3.5rem 0 3rem 0;

  @include respond(tab-land) {
    margin: 0 0 3rem 0;
  }
}

.form-wrapper {
  background-color: $white;
  padding: 2rem 0;
}

.form {
  width: 90%;
  margin: 0 auto;

  &__field {
    width: 100%;
    border: 1px solid $grayish-blue;
    color: $dark-blue;
    font-weight: 500;
    padding: 1.2rem;
    border-radius: $border-radius-small;
  }

  &__submit-btn {
    width: 100%;
    color: $white;
    text-transform: uppercase;
    background-color: $green;
    border-radius: $border-radius-small;
    border: none;
    box-shadow: $box-shadow-green;
    padding: 2rem;
    font-weight: 500;
    cursor: pointer;
  }
}

.agreement {
  color: $grayish-blue;
  width: 90%;
  margin: 2rem auto 0 auto;
  font-size: 1.2rem;
}

.terms-and-services {
  color: $red;
}
