.footer {
  background-color: $very-dark-black-blue;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;

  &__logo {
  }

  &__nav-list {
    list-style: none;
  }

  &__nav-item,
  &__nav-link {
    color: $white;
  }

  &__nav-item {
  }

  &__nav-link {
    text-decoration: none;
  }
}
