// Colors
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

$white:hsl(0, 0%, 100%);
$light-grayish-magenta:hsl(300, 24%, 96%);
$dark-grayish-magenta:  hsl(303, 10%, 53%);


// Fonts sizes
$default-font: 1.5rem;

$primary-radius: 6px;