@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  // Colors
  --light-grayish-blue:  hsl(240, 5%, 91%);
  --dark-grayish-blue:  hsl(240, 6%, 50%);
  --very-dark-grayish-blue:  hsl(237, 12%, 33%);
  --very-dark-desaturated-blue:  hsl(238, 29%, 16%);

  --soft-red: hsl(14, 88%, 65%);

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  // Font sizes
  --default-font-size: 1.2rem;
}

html {
  font-size: 62.5%; // 1rem = 10px  10px/16px = 62.5%
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: var(--default-font-size);
  color: var(--very-dark-grayish-blue);
  line-height: 1.5;
  background-image: linear-gradient(
    var(--soft-violet),
    var(--soft-blue)
  );
}