body {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-content: center;
}

section {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li {
    list-style: none;
    background-color: #fff;
    border: 6px solid #000;
    margin: 20px;
    display: flex;
    align-items: center;
}

img {
    padding: 20px 10px;
}