.card {
  border-radius: 0.8rem;
  position: relative;

  &__wrapper {
    padding: 3rem;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 1.5rem;
  }

  &__photo-container {
    grid-row: 1/ 2;
  }

  &__user-photo {
    border-radius: 50%;
    height: 3.4rem;
    width: 3.4rem;
  }

  &__user-info {
    align-self: center;
  }

  &__user-name {
    font-weight: 600;
  }

  &__user-status {
    opacity: 50%;
    font-size: 1.2rem;
  }

  &__main-text {
    font-size: 2rem;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    font-weight: 500;
    position: relative;
  }

  &__text {
    line-height: 1.6;
    opacity: 70%;
    grid-column: 1 / -1;
  }

  &:first-child::before {
    content: "";
    background-image: url(../../images/bg-pattern-quotation.svg);
    background-size: cover;
    height: 11rem;
    width: 11rem;
    position: absolute;
    right: 2rem;
  }
}
