@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: $default-font;
  font-weight: 400;
  line-height: 1.5;
}

.primary-heading,
.secondary-heading,
.tertiary-heading {
  color: $very-dark-gray;
}

.primary-heading,
.tertiary-heading {
    font-weight: 600;
}


.primary-heading {
    font-size: 2.7rem;
}

.secondary-heading {
    font-weight: 200;
    font-size: 2.8rem;
}

.tertiary-heading {
}


p {
    color: $grayish-blue;
}
