.card {
  background-color: $light-grayish-blue;
  display: flex;
  flex-flow: column wrap;
  max-width: 40rem;
  width: 90%;
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative;

  @media (min-width: 900px) {
    flex-flow: row;
    width: 650%;
    max-width: 65rem;
  }

  &__img {
    width: 100%;

    @media (min-width: 900px) {
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    background-color: #fff;
    padding: 1.5rem 3rem 2rem 3rem;
  }

  &__publishment {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__avatar-container {
    width: 5rem;
    margin-right: 2rem;
  }

  &__avatar {
    width: 100%;
    border-radius: 50%;
  }

  &__text,
  &__date {
    color: $desaturated-dark-blue;
  }

  &__text {
    margin-bottom: 1.6rem;
  }

  &__name {
    font-weight: 700;
  }

  &__share-icon-container {
    background-color: $light-grayish-blue;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    &--mobile {
      background-color: $desaturated-dark-blue;
    }
  }

  &__icon {
    &--white {
      color: #fff;
      cursor: pointer;
    }
  }

  &__share-options-mobile {
    display: none;
  }

  &__share-options {
    background-color: $very-dark-grayish-blue;
    position: absolute;
    display: flex;
    width: 100%;
    border-bottom-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    bottom: 1px;
    left: 1px;
    justify-content: space-between;
    padding: 1.4rem 3.1rem;
  }

  &__list {
    display: flex;
    align-items: center;
    padding-left: 0;
  }

  &__list-item:first-child {
    color: $grayish-blue;
    font-size: 1.7rem;
    letter-spacing: 3px;
  }

  &__list-item {
    list-style: none;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    i {
      font-size: 2.5rem;
    }
  }
}
