.heading-primary {
  font-weight: 700;
  color: $very-dark-blue;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.heading-secondary {
  font-weight: 300;
  margin: 1rem 0;
}

.text--dark {
  color: $very-dark-blue;
  font-weight: 700;
}

.text--blue {
  color: $blue;
}
